@font-face {
  font-family: 'montserratthin';
  src: url('montserrat-variablefont_wght-webfont.woff2') format('woff2'),
       url('montserrat-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Keystone';
  src: url('/fonts/Keystone-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'montserratthin', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: #FBFBFB;
    color:#443e2f;
    letter-spacing: 0.1em;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin:auto;
}
@media only screen and (min-width: 1023px) {
  header {
    padding: 10px 50px;
  }
}

header {
  max-height: 90px;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #E8E3D0;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header.onscroll {
  background-color: #fbfbfb;
  transition: background-color 200ms linear;
}


.header__logo.colorful {
  display: none;
}

.onscroll .header__logo.white {
display: none;
}
.onscroll .header__logo.colorful {
  display: block;
}

.onscroll .header__menu__item {
  color: #384740;
}

.header__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
}

.header__menu__item{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    text-decoration:none;
    color:#413d2c;
}


.header__burger__icon {
    display: none;
    cursor: pointer;
  }

  
  /* The Overlay (background) */
  .overlay {
  
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 10000;
    left: 0;
    top: 0;
    background-color:#6D6640;
    overflow-x: hidden; 
    transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color:#FBFBFB;
    display: block; 
    transition: 0.3s; 
  }
  /* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 1200px) {

    .header__menu, .header__icons {
        display: none;
      }
      .header__burger__icon {
        display: block;
      }

    }


    .projects__section {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 50px;
    }

.title {
  width: 100%;
  font-family: 'Keystone', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
@media only screen and (max-width: 1023px) {


.projects__section {
  flex-direction: column;
  margin-bottom: 0;
}
.projects__section__item {
  margin: 20px 10px;
}

.block__expertises__item {
  margin: 10px 0;
}

.projects__menu {
  flex-direction: column;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.overlay a {
  font-size: 18px;
letter-spacing: 5px;
}

}

.button-52 {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 20px 20px 13px;
  outline: 0;
  border: 2px solid #656D56;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color:#443e2f;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 30px;
}

.button-52:after {
  content: "";
  background-color: #A4BBA9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 20px 50px 13px;
  }
}

#block__skills {
  background-color: #D2BC97;
  color:#FBFBFB;
  margin: auto;
  padding: 50px 0;
}

.skills__title {
  text-align: center;
  padding: 50px 0 30px;
  margin: 0;
}

.block__skills__wrapper {
  text-align: center;
margin-bottom: 2rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
  padding: 30px 0;
}
.block__skills__wrapper .icon__box {
  padding: 10px;
}

.block__skills__wrapper .icon__box{
  width: 12.5%;
}
@media only screen and (max-width: 1023px) {
  .block__skills__wrapper .icon__box {
    width: 49.5%;
  }
  svg {
    margin: -25px auto;
  }  
}

.block__skills__wrapper  .devicon {
color: #FBFBFB;
font-size: 3.5rem;
}

.container-img {
width: 70px;
display: block;
height: 3.5rem;
margin: 0 auto;
}




/* diapo projets */

label {
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
  min-height: 100%;
	width: 100vw;
	height: 80vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

form {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  input[type="radio"]{
    border-width: 0;
  }


input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background-size: cover;
	font-size: 3rem;
}

label[for="clubs"] {
	background-image: url(/illustration/cats.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
label[for="hearts"] {
	background-image: url(/moodboard.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
label[for="spades"] {
	background-image: url(/carte-visite-fred-bour.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
label[for="diamonds"] {
	background-image: url(/logo/marionphoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

label:before,
label:after {
	color: #a4bba9;
	display: block;
	background:#a4bba947;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

@media only screen and (max-width: 1023px) {
label {
	height: 60vh;
}
}

.card {
width:400px;
height: 400px;
background-color:#333;
outline: 1px solid
rgba(255, 255, 255, .5);
outline-offset:-8px;
box-shadow: 30x 30x 10px
rgba(0, 0, 0, .1);
position: relative;
overflow: hidden;
margin-bottom: 30px;
}

.card-image{
position: absolute;
inset :0;
width: 100%;
height: 100%;
object-fit: cover;
opacitv: .6;
transition: transform .75s;
}

.card:hover .card-image {
transform:scale(1.15);
}

.card-title {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  background-color: #aa5741;
  padding: 10px 20px;
}


footer {
  text-align: center;
  background-color: #6d6640;
  padding: 25px 0 20px;
  color: #f5f5f5;
  text-transform: uppercase;
  font-weight: 300;

}

.quisuisje {
  background-color:#E3D3B2;
}

.casquettes {
  height: 80vh;
  background-color:#D2BC97;
  display:none;
}

.work {
  min-height: 80vh;
  background-color:#443e2f;
  color: #E8E3D0;
}

.section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.col33 img {
  max-width:300px;
  height: auto;
}

.top__illustration {
  height: 900px;
  background-color:#E8E3D0;
  background-image: url("/portfoliotop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.presentation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.5;
}

.presentation div {
  padding: 0 40px 50px;
}

.profil__picture {
  max-height: 500px;
}
@media only screen and (max-width: 1023px) {
  .top__illustration {
    height: 300px;
  }
  .presentation{
    flex-direction: column;
  }
  .presentation div {
    padding: 0;
  }
  .card {
    width:260px;
    height: 260px;
    margin: 0 auto 30px;
  }
}
