
@font-face {
  font-family: 'montserratthin';
  src: url('montserrat-variablefont_wght-webfont.woff2') format('woff2'),
       url('montserrat-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'south_australiaregular';
  src: url('/fonts/SouthAustralia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.portfolio-grid-overlay {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-rows: min-content;
  }
  @media only screen and (max-width: 1023px) {
    .portfolio-grid-overlay {
      grid-template-columns: auto;
    }
  }
  
  .grid-item:hover .portfolio-overlay {
    opacity: .4;
    background-color:#A4BBA9;
}
  
  grid-item .portfolio-overlay {
    opacity: 0;
  }
  .portfolio-grid-overlay .grid-item .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease 200ms;
    z-index: 99;
  }
  .portfolio-grid-overlay .portfolio-title {
    font-family: "montserratthin",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-transform: none;
    line-height: 1.3em;
    font-size: 3.5rem;
  }  

  .portfolio-grid-overlay .grid-item:hover .portfolio-text {
    opacity: 1;
  }

  .portfolio-grid-overlay .grid-item .portfolio-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 7%;
    text-align: center;
    z-index: 100;
    transition: opacity ease 200ms;
    color:#fff;
  }

  .portfolio-grid-overlay .grid-item .portfolio-text {
    opacity: 0;
  }

  .portfolio-grid-overlay .grid-image {
    padding-bottom: 100%;
  }

  .portfolio-grid-overlay .grid-item {
    padding-bottom: 100%;
  }
  .portfolio-grid-overlay .grid-item {
    position: relative;
    height: 0;
    max-height: 750px;
  }

  .portfolio-grid-overlay .grid-item .grid-image .grid-image-inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
  }

  .grid-item .grid-image .grid-image-inner-wrapper img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
    max-height: 750px;
  }

  .coming__soon {
    background-color: #a4bba9;
    color: #fff;
    padding: 20px 0;
  }

  .coming__soon .title {
font-size: 20px;
}