@media only screen and (min-width: 1024px) {
  .portfolio-grid-basic {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    grid-auto-rows: min-content;
    min-height: 100vh;
    padding-top: 10vw;
    padding-bottom: 10vw;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: center;
  }
  .grid-image {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .portfolio-grid-basic {
    padding-top: 40vw;
    padding-bottom: 10vw;
    text-align: center;
    margin: 10px;
  }

  .grid-item {
    width: 100%;
    display: block;
  }
}
.grid-image {
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
  margin: 0;
  line-height: 0;
  border: 8px solid #E8E3D0;
}

.grid-image-inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.grid-image-inner-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform .75s;
}

.webdesign .grid-image-inner-wrapper img {
  object-position: top;
}
.grid-image-inner-wrapper img:hover {
  transform: scale(1.15);
}


.portfolio-title {
  font-family: 'montserratthin', sans-serif;
  font-size: 30px;
  color: #384740;
  text-transform: uppercase;
  font-weight: lighter;
}

